.background-loading{
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 2000px;
    height: 1500px;
    margin:0px;
    padding-top: 0px;
   
}


.load{
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    font-size: 70px;
}